.close {
    right: -20rem; /* Initially hide the menu */
  }

.open {
    animation: slideIn 0.3s forwards;
  }
   
  @keyframes slideIn {
    from {
      right: -20rem;
    }
    to {
      right: 0;
    }
  }
  
